Repository ALFA-project-erc/kanon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, test_notebooks

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_MESSAGE =~ / \[no-ci\]/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: always

stages:
  - lint
  - test

lint:
  stage: lint
  image: python:3.8.7-slim
  tags:
    - docker_dio
  script:
    - pip install tox
    - tox -e codestyle

test:
  stage: test
  image: python:3.8.7
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  only:
    changes:
      - kanon/**/*
  cache:
    paths:
      - .cache/pip
  tags:
    - docker_dio
  script:
    - pip install .
    - pip install .[test]
    - mypy
    - pytest --junitxml=report.xml -p "no:hypothesispytest" --pyargs kanon docs --cov kanon --cov-config=setup.cfg
    - coverage xml
  artifacts:
    reports:
      junit: report.xml
      cobertura: coverage.xml

test_notebooks:
  stage: test
  image: python:3.8.7
  tags:
    - docker_dio
  allow_failure: true
  only:
    changes:
      - kanon/**/*
      - examples/**/*
  script:
    - pip install tox
    - tox -e test_notebooks

[Docs] Readme, calendars, precision
  README.rst
  docs/calendars/index.rst
  docs/index.rst
  docs/kanon/index.rst
  docs/kanon/tables/index.rst
  docs/tables/htable.rst
  docs/tables/index.rst
  docs/tables/interpolations.rst
  docs/tables/symmetries.rst
  docs/units/index.rst
  docs/units/precision.rst
  docs/units/radices.rst
  kanon/calendars/__init__.py
  kanon/calendars/calendars.py
  kanon/calendars/tests/test_calendars.py
  kanon/units/precision.py
  mypy.ini
  tox.ini
Due: test, test_notebooks

[Testing] Fixed statement not asserted
  kanon/calendars/tests/test_calendars.py
Due: test, test_notebooks

[Radices] Fixed redefining next
  kanon/units/radices.py
Due: test, test_notebooks

Update LICENSE.rst
  licenses/LICENSE.rst
Due: none

LICENSE in topdir
  LICENSE
Due: none

Update setup.cfg to reflect license change
  MANIFEST.in
  setup.cfg
Due: none

[Docs] Calendars and precision OK
  docs/conf.py
  kanon/calendars/__init__.py
  kanon/calendars/calendars.py
  kanon/calendars/tests/test_calendars.py
  kanon/units/precision.py
  setup.cfg
Due: test, test_notebooks

[Examples] Calendar used in sun true pos
  examples/sun_true_position.ipynb
  kanon/calendars/calendars.py
  kanon/calendars/tests/test_calendars.py
Due: test, test_notebooks

[PCM] Set PrecisionMode.MAX as default
  kanon/units/precision.py
  kanon/units/radices.py
  kanon/units/tests/test_precision.py
Due: test, test_notebooks

RELEASE v0.0.1
  .gitlab-ci.yml
  CHANGES.rst
  setup.cfg
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[Bug] Fix docs building
  docs/conf.py
  setup.cfg
Due: none

Update README.rst
  README.rst
Due: none

[Radices] Sqrt ok
  kanon/units/radices.py
  kanon/units/tests/test_basedreal.py
Due: test, test_notebooks

Update README.rst [no-ci]
  README.rst
Due: none

[HTable] Implement diff and populate
  examples/declination.ipynb
  examples/tests/test_notebooks.py
  kanon/tables/htable.py
  kanon/tables/tests/test_htable.py
  kanon/units/radices.py
  kanon/units/tests/test_basedreal.py
Due: test, test_notebooks

[Examples] Use get method
  examples/declination.ipynb
  kanon/tables/htable.py
Due: test, test_notebooks

[Bug] Fix examples/declination cells 6/11
  examples/declination.ipynb
Due: test_notebooks

[Quality] Radices and precision cleaning
  kanon/units/precision.py
  kanon/units/radices.py
Due: test, test_notebooks

[Docs] Include examples inside doc
  docs/conf.py
  docs/examples.rst
  docs/examples/.gitignore
  docs/index.rst
  examples/declination.ipynb
  examples/sun_true_position.ipynb
  setup.cfg
Due: test_notebooks

[Examples] Fix suntruepos test
  examples/tests/test_notebooks.py
Due: test_notebooks

[HTable] Quadratic interpolation
  examples/declination.ipynb
  kanon/tables/htable.py
  kanon/tables/interpolations.py
  kanon/tables/symmetries.py
  kanon/tables/tests/test_htable.py
  kanon/tables/tests/test_interpolations.py
  kanon/tests/test_based_htable.py
  mypy.ini
  setup.cfg
Due: test, test_notebooks

[Examples] Use quadratic interp in declination
  examples/declination.ipynb
Due: test_notebooks

[HTable] fill method with distributed interp
  kanon/tables/htable.py
  kanon/tables/interpolations.py
  kanon/tables/tests/test_htable.py
  kanon/tables/tests/test_interpolations.py
  kanon/tests/test_based_htable.py
  kanon/units/radices.py
  kanon/units/tests/test_basedreal.py
Due: test, test_notebooks

[Coverage] Fixed coverage not working because of ellipsis
  kanon/calendars/calendars.py
  kanon/conftest.py
  kanon/tables/tests/test_htable.py
  kanon/tables/tests/test_interpolations.py
  kanon/units/tests/test_basedreal.py
  setup.cfg
Due: test, test_notebooks

[Examples] Use distributed interp in declination
  examples/declination.ipynb
  kanon/tables/htable.py
  kanon/tables/interpolations.py
  kanon/tables/tests/test_interpolations.py
Due: test, test_notebooks

[Radices] Module doctest now passing
  kanon/units/radices.py
  kanon/units/tests/test_basedreal.py
Due: test, test_notebooks

[HTable] Distributed interpolation rework
  examples/declination.ipynb
  kanon/tables/htable.py
  kanon/tables/interpolations.py
  kanon/tables/tests/test_htable.py
  kanon/tables/tests/test_interpolations.py
  kanon/tests/test_based_htable.py
  kanon/units/radices.py
Due: test, test_notebooks

[HTable] plot2d implementation and ptolemy_viz example added
  docs/examples.rst
  examples/declination.ipynb
  examples/ptolemy_viz.ipynb
  examples/tests/test_notebooks.py
  kanon/tables/htable.py
  kanon/tables/tests/test_htable.py
  mypy.ini
  setup.cfg
Due: test, test_notebooks

[Examples] Ptolemy_viz residue in float
  examples/ptolemy_viz.ipynb
  examples/tests/test_notebooks.py
Due: test_notebooks

[HTable] Added HColumn
  examples/declination.ipynb
  examples/sun_true_position.ipynb
  kanon/tables/hcolumn.py
  kanon/tables/htable.py
  kanon/tables/tests/test_hcolumn.py
  kanon/tables/tests/test_htable.py
  kanon/tests/test_based_htable.py
  kanon/units/precision.py
  kanon/units/radices.py
Due: test, test_notebooks

[HTable] Symmetry reading from DISHAS ok
  examples/tests/test_notebooks.py
  kanon/tables/htable.py
  kanon/tests/data/table_content-180.json
  kanon/tests/test_based_htable.py
  kanon/utils/types/dishas.py
Due: test, test_notebooks

[Docs] Docs theme changed and improvements
  README.rst
  docs/conf.py
  docs/examples.rst
  docs/index.rst
  docs/kanon-logo.png
  docs/kanon.ico
  docs/tables/htable.rst
  docs/tables/index.rst
  docs/tables/interpolations.rst
  docs/tables/symmetries.rst
  kanon/calendars/calendars.py
  kanon/tables/__init__.py
  kanon/tables/hcolumn.py
  kanon/tables/interpolations.py
  kanon/tables/symmetries.py
  kanon/units/precision.py
  setup.cfg
Due: test, test_notebooks

[Update] _astropy_init updated
  kanon/_astropy_init.py
Due: test, test_notebooks

[Docs] Hints and doc enhancement
  kanon/calendars/calendars.py
  kanon/units/radices.py
Due: test, test_notebooks

[Calendars] Fix negative year computing
  CHANGES.rst
  kanon/calendars/calendars.py
  kanon/calendars/tests/test_calendars.py
Due: test, test_notebooks

[HTable] fix HTable.read non existing id
  CHANGES.rst
  kanon/tables/htable.py
  kanon/tests/test_based_htable.py
Due: test, test_notebooks

[Package] Typing enabled
  CHANGES.rst
  kanon/data/README.rst
  kanon/py.typed
  setup.cfg
Due: test, test_notebooks

[HTable] new dishas api format
  CHANGES.rst
  docs/changes.rst
  docs/index.rst
  kanon/tables/htable.py
  kanon/tests/data/table_content-180.json
  kanon/utils/types/dishas.py
Due: test, test_notebooks

[Tests] fix mypy not passing
  kanon/utils/types/dishas.py
Due: test, test_notebooks
